@model IEnumerable<PageChangeWithoutRefreshApp.Models.MyItem>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MyProperty1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyProperty2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyProperty3)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MyProperty1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MyProperty2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MyProperty3)
            </td>
        </tr>
}
    </tbody>
</table>
